
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b6b4fac173b947b617a91b3898a9cd65
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress